.turtle{
    color: #A0522D;
}
.family_image{
    width: 600px;
    height: 500px!important;
     border-radius: 8%;
     cursor: pointer;
}
.judy{
    text-align:center;
  
}
body{
    background-color:#E7D1D8  ;
}